main p {
    width: 80%;
    margin: auto;
    text-align: justify;
}

main pre {
    display: block;
    width: 30%;
    font-size: 1.3em;
    font-weight: bold;
    margin: 5px auto;
}

iframe {
    display: block;
    margin: 10px auto;
}
